extends layout

block content
  #price
    h1 Price
    p#usd USD: #{CurrUsd}
    p#mxn MXN: #{CurrMxn} 
  
  #wrapper.row
    .col-xs-6
      h2.sub-header Coin List
      #coinList.table-responsive
        table.table.table-sm.table-striped.table-hover
          thead
            tr
              th Name
              th Ticker
              th Address
              th Price BTC
              th Balance
              th Explorer
              th Pool
              th Borrar
          tbody

    .col-xs-6
      h2.sub-header Balance
      #coinBalance.table-responsive
        table.table.table-sm.table-striped.table-hover
          thead
            tr
              th Ticker
              th Balance
              th BTC
              th USD
              th MXN
          tbody
            - var sumbtc=0
            - var sumusd=0
            - var summxn=0
            each val in coins
              - var pricebtc = val.price * val.balance
              - var pricemxn = pricebtc * mxn
              - var priceusd = pricebtc * usd
              - sumbtc = sumbtc + pricebtc
              - sumusd = sumusd + priceusd
              - summxn = summxn + pricemxn
              - priceusd = new Intl.NumberFormat('en-US', { style: 'currency', currency: 'USD' }).format(priceusd)
              - pricemxn = new Intl.NumberFormat('en-US', { style: 'currency', currency: 'USD' }).format(pricemxn)
              tr
                td= val.ticker
                td= val.balance
                td= pricebtc
                td= priceusd
                td= pricemxn
            tr
              td 
                b Total
              td
              - sumusd = new Intl.NumberFormat('en-US', { style: 'currency', currency: 'USD' }).format(sumusd)
              - summxn = new Intl.NumberFormat('en-US', { style: 'currency', currency: 'USD' }).format(summxn)
              td 
                b= sumbtc
              td
                b= sumusd
              td
                b= summxn

  .row
    #addCoin
      h2.sub-header Agregar Moneda
      fieldset
        input#inputCoinName(type='text', placeholder='Nombre')
        input#inputCoinTicker(type='text', placeholder='Ticker')
        br
        input#inputCoinAddress(type='text', placeholder='Address')
        input#inputCoinExplorer(type='text', placeholder='Explorer')
        input#inputCoinApi(type='text', placeholder='Api')
        br
        input#inputCoinPool(type='text', placeholder='Pool')
        input#inputCoinExchange(type='text', placeholder='Exchange')
        br
        button#btnAddUser Add Coin

    #updateCoin
      h2.sub-header Actualizar BTC
      fieldset
        input#inputCoinName(type='text', value='BTC', disabled)
        input#inputCoinBalance(type='text', placeholder='Balance')
        br
        button#btnActualizar Actaulizar
                