extends layout

block content
  #price
    h1 Price
    p#usd USD: #{CurrUsd}
    p#mxn MXN: #{CurrMxn} 
  
  #wrapper
    div(style='display: inline-block;')
      h2 Coin List
      #coinList.tg-wrap
        table.tg
          thead
            tr
              th.tg-us36 Name
              th.tg-yw4l Ticker
              th.tg-yw4l Address
              th.tg-yw4l Price BTC
              th.tg-yw4l Balance
              th.tg-yw4l Explorer
              th.tg-yw4l Pool
              th.tg-yw4l Borrar
          tbody

    div(style='float: right')
      h2 Balance
      #coinBalance.tg-wrap
        table.tg
          thead
            tr
              th.tg-us36 Ticker
              th.tg-yw4l Balance
              th.tg-yw4l BTC
              th.tg-yw4l USD
              th.tg-yw4l MXN
          tbody
            - var sumbtc=0
            - var sumusd=0
            - var summxn=0
            each val in coins
              - var pricebtc = val.price * val.balance
              - var pricemxn = pricebtc * mxn
              - var priceusd = pricebtc * usd
              - sumbtc = sumbtc + pricebtc
              - sumusd = sumusd + priceusd
              - summxn = summxn + pricemxn
              - priceusd = new Intl.NumberFormat('en-US', { style: 'currency', currency: 'USD' }).format(priceusd)
              - pricemxn = new Intl.NumberFormat('en-US', { style: 'currency', currency: 'USD' }).format(pricemxn)
              tr
                td= val.ticker
                td= val.balance
                td= pricebtc
                td= priceusd
                td= pricemxn
            tr
              td 
                b Total
              td
              - sumusd = new Intl.NumberFormat('en-US', { style: 'currency', currency: 'USD' }).format(sumusd)
              - summxn = new Intl.NumberFormat('en-US', { style: 'currency', currency: 'USD' }).format(summxn)
              td 
                b= sumbtc
              td
                b= sumusd
              td
                b= summxn

  h2 Agregar Moneda
  #addCoin
    fieldset
      input#inputCoinName(type='text', placeholder='Nombre')
      input#inputCoinTicker(type='text', placeholder='Ticker')
      br
      input#inputCoinAddress(type='text', placeholder='Address')
      input#inputCoinExplorer(type='text', placeholder='Explorer')
      br
      input#inputCoinPool(type='text', placeholder='Pool')
      input#inputCoinExchange(type='text', placeholder='Exchange')
      br
      button#btnAddUser Add Coin

  h2 Actualizar BTC
  #updateCoin
    fieldset
      input#inputCoinName(type='text', value='BTC', disabled)
      input#inputCoinBalance(type='text', placeholder='Balance')
      br
      button#btnActualizar Actaulizar
  
    #wrapper
    div(style='display: inline-block;')
      h2 Coin List
      #paidList.tg-wrap
        table.tg
          thead
            tr
              th.tg-us36 Name
              th.tg-yw4l Ticker
              th.tg-yw4l Address
              th.tg-yw4l Price BTC
              th.tg-yw4l Balance
              th.tg-yw4l Explorer
              th.tg-yw4l Pool
              th.tg-yw4l Borrar
          tbody